.row{ :style => "margin-top: 60px; margin-bottom: 40px;" }

  .col-md-offset-2.col-md-3
    %h3 Login to Liberatio
    %p
      Don't have an account?
    %p
      = link_to "Register Now", new_user_path, :class => "btn btn-lg btn-default"

  .col-md-offset-1.col-md-4

    = form_tag sessions_path, :role => "form" do

      .form-group
        = label_tag :email_address, "Email Address"
        = email_field_tag :email_address, params[:email_address], :class => 'form-control first'

      .form-group
        = label_tag :password, "Password"
        = password_field_tag :password, nil, :class => "form-control"

      <button type="submit" class="btn btn-primary">Continue</button>
      = link_to "Forgot Password?", forgot_password_path, :class => "btn btn-default"
