<p id="notice"><%= notice %></p>

<p>
  <strong>Node:</strong>
  <%= @note.node_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @note.organization_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @note.contents %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
