- content_for :title, "Devices"

%ol.breadcrumb
  %li.active
    Devices

.row
  .col-md-8
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %tr
          %th.col-md-2 Role
          %th.col-md-3 Name
          %th Operating System
          %th Location
          %th

      %tbody
        - if @nodes.any?
          - @nodes.each do |node|
            - if !(node.is_managed? && node.inventoried_at.blank?)
              %tr
                %td
                  = image_tag("#{node.role}.png".downcase, :alt => node.role, :style => "width: 16px;")
                  = node.role
                %td
                  = link_to node.name, node_path(node)
                %td #{node.operating_system}
                %td #{node.location}
                %td #{link_to 'Details', node_path(node)}
        - else
          %tr
            %td{ colspan: 6 }
              Oh no! You haven't added any devices yet -
              = link_to "Add One Now", new_node_path
              / TODO add image of oh no or something. have it link to a modal that displays instructions

  .col-md-4

    .alert.alert-warning.alert-dismissable
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      %p <strong>Liberatio Agent only supports Windows at this time</strong>
      %p
        #{link_to 'Get our newsletter', settings_user_path(current_user)} and be the first to know when we add other systems,
        and keep an eye on our #{link_to "Roadmap", browse_features_path}.
        <strong>But keep in mind</strong>, you can add devices of any type, manually without using the Agent.

    = link_to "Add Unmanaged Device", new_node_path, :class => "btn btn-primary btn-block"

    %br/

    .alert.alert-info.registration-code
      Registration Code
      %strong
        = current_user.organization.registration_code
      = link_to "javascript:void(0)", :class => "command-regenerate_registration_code" do
        %span.glyphicon.glyphicon-refresh
      %br/
      %small #{link_to 'Install the Agent', browse_download_path} on your devices and register with this code.