%ol.breadcrumb
  %li.active
    Protection

.row
  .col-md-4
    .box
      = link_to "#" do
        %h2 Zero
        %h4 Needing Updates
    .box
      = link_to "#" do
        %h2 Zero
        %h4 With Other Issues
    .box.box-coming-soon
      = link_to "#" do
        %h2 Coming Soon
        %h4 Without Antivirus
    .box.box-coming-soon
      = link_to "#" do
        %h2 Coming Soon
        %h4 Without Firewall


  .col-md-offset-1.col-md-7

    %h4 Devices Needing Updates
    %table.table.table-bordered.table-striped.table-condensed
      %tr
        %th.col-md-4 Name
        %th Updates
      - current_user.organization.nodes.joins(:updates).where("updates.is_installed = ?", false).each do |node|
        %tr
          %td
            = link_to node.name, node_path(node)
          %td #{node.updates.where(is_installed: false).count}

    %br/

    %h4 Devices With Other Issues
    %table.table.table-bordered.table-striped.table-condensed
      %tr
        %th.col-md-4 Name
        %th Issue
      - current_user.organization.issues.each do |issue|
        %tr
          %td
            = link_to issue.node.name, node_path(issue.node)
          %td #{issue.title}