<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @node.role %>
</p>

<p>
  <strong>Location:</strong>
  <%= @node.location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @node.operating_system %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @node.serial_number %>
</p>

<p>
  <strong>Model number:</strong>
  <%= @node.model_number %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @node.organization_id %>
</p>

<%= link_to 'Edit', edit_node_path(@node) %> |
<%= link_to 'Back', nodes_path %>
