%ol.breadcrumb
  %li
    = link_to "Devices", nodes_path
  %li.active
    = @node.name

.row

  .col-md-2
    = image_tag("#{@node.role}.png".downcase, :alt => @node.role, :class => "col-md-12")

  .col-md-10
    %h2{ :style => "margin-top: 0;" } #{@node.name}
    %h4 #{@node.role}, #{@node.operating_system}

    %br/

    .row

      .col-md-7
        %table.table.table-condensed.table-bordered
          %tbody
            %tr
              %td.col-md-4 Name
              %td
                %strong #{@node.name}
            %tr
              %td Role
              %td
                %strong #{@node.role}
            %tr
              %td Architecture
              %td
                %strong #{@node.architecture}
            %tr
              %td Operating System
              %td
                %strong #{@node.operating_system}
            %tr
              %td Service Pack or Update
              %td
                %strong #{@node.service_pack_update_level}
            %tr
              %td Location
              %td #{@node.location}
            %tr
              %td Model Number
              %td
                %strong #{@node.model_number}
            %tr
              %td Serial Number
              %td
                %strong #{@node.serial_number}
            %tr
              %td Uses Agent?
              %td
                %strong
                  - if @node.is_managed?
                    Yes
                  - else
                    No
            %tr
              %td UUID
              %td #{@node.uuid}

      .col-md-5
        %table.table.table-condensed.table-bordered
          %tbody
            %tr
              %td.col-md-5 Status
              %td
                %strong.text-success Online
            %tr
              %td Last Inventory
              %td
                - if @node.inventoried_at?
                  %strong #{time_ago_in_words(@node.inventoried_at)}

        %hr/

        .btn-group
          %button{ :type => "button", :class => "btn btn-default dropdown-toggle", "data-toggle" => "dropdown" }
            Options
            %span.caret
          %ul.dropdown-menu{ :role => "menu" }
            %li
              = link_to "Execute Command", "#", "data-toggle" => "modal", "data-target" => "#modal-execute-command"
            %li.divider
            %li
              = link_to "Delete", node_path(@node), :method => :delete, "data-confirm" => "Are you sure you want to delete this device? It will be re-created if you have not uninstalled the Agent from the device and it performs an inventory."
        = link_to "Edit Details", edit_node_path, :class => "btn btn-default"

    %ul.nav.nav-tabs
      %li
        = link_to "Hardware", "#hardware", "data-toggle" => "tab"
      %li.active
        = link_to "Software", "#software", "data-toggle" => "tab"

    .tab-content
      .tab-pane{ :id => "hardware" }

        %br/

        .row

          .col-md-4

            %h4 Processor

            %table.table.table-condensed.table-bordered
              %tbody
                %tr
                  %td.col-md-6 Model
                  %td
                %tr
                  %td Speed
                  %td
                %tr
                  %td Cores
                  %td
                %tr
                  %td Architecture
                  %td

          .col-md-4

            %h4 Memory

            %table.table.table-condensed.table-bordered
              %tbody
                %tr
                  %td.col-md-6 Memory Type
                  %td
                %tr
                  %td Memory Capacity
                  %td

            %h4 Operating System

          .col-md-4

            %h4 Storage

      .tab-pane.active{ :id => "software" }

        %br/

        %table.table.table-condensed.table-bordered
          %thead
            %tr
              %th Name
              %th Version
              %th Publisher
          %tbody
            - if @node.instances.any?
              - @node.instances.each do |instance|
                %tr
                  %td #{instance.application.name}
                  %td #{instance.application.version}
                  %td #{instance.application.publisher}
            - else
              %tr
                %td{ colspan: 3 } No Software Inventoried

.modal.fade{ :id => "modal-execute-command" }
  .modal-dialog
    .modal-content
      .modal-header
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        %h4.modal-title Execute Command
      .modal-body
        test
