- content_for :title, @application.name

%ol.breadcrumb
  %li
    = link_to "Software", instances_path
  %li.active
    #{@application.name}

Devices with #{@application.name}

.well
  .row
    .col-md-4
      Name <strong>#{@application.name}</strong>
    .col-md-4
      Version: <strong>#{@application.version}</strong>
    .col-md-4
      Publisher: <strong>#{@application.publisher}</strong>

%br/

%table.table.table-bordered.table-striped.table-condensed
  %thead
    %tr
      %th Name

  %tbody
    - if @instances.any?
      - @instances.each do |instance|
        %tr
          %td
            = link_to instance.node.name, node_path(instance.node)
    - else
      %tr
        %td{ colspan: 1 }
          This application is not installed on any devices.
