- content_for :title, "Signing Up"

.row.row-padded

  .col-md-4.col-md-offset-1
    %h3 Signing Up for Liberatio
    %hr/

    %h4{ :style => "color: Green;" }
      %strong Free During the Public Beta

    #plan-details.text-grayed
      %h5 What you're getting for <strong>#{number_to_currency(0)}</strong>/month

      .row
        .col-md-5
          %ul.list-unstyled
            %li Unlimited Devices
            %li Hardware Inventory
            %li Software Inventory
        .col-md-7
          %ul.list-unstyled
            %li Real-Time Windows Agent
            %li Execute Commands Remotely
            %li Determine Needed Updates

  .col-md-4.col-md-offset-1
    = form_for :user, :url => users_path, :html => { :role => "form" } do |f|

      .form-group
        = f.label :email_address, "Email Address"
        = f.email_field :email_address, :class => 'form-control first'

      .form-group
        = f.label :name, "Full Legal Name"
        = f.text_field :name, :class => 'form-control'

      .form-group
        = f.label :organization_name, "Organization"
        = f.text_field :organization_name, :class => 'form-control'

      .form-group
        = f.label :password, "Password"
        = f.password_field :password, :class => 'form-control'

      .form-group
        = f.label :password, "Password (confirm)"
        = f.password_field :password_confirmation, :class => 'form-control'

      = f.submit "Save and Continue", :class => "btn btn-primary"
