.row
  .col-md-7

    = form_for @ticket, :html => { :class => "form-horizontal", :role => "form" } do |f|

      - if @ticket.errors.any?
        .alert.alert-danger
          %ul.list-unstyled
            - @ticket.errors.full_messages.each do |msg|
              %li
                = msg

      .form-group
        = f.label :status, :class => "control-label col-sm-5"
        .col-sm-7
          - if @ticket.id.blank?
            %p.form-control-static.text-muted
              Open
          - else
            = f.select :status, options_for_select(["Open", "Closed"], @ticket.status), {}, { :class => "form-control" }

      .form-group
        = f.label :priority, :class => "control-label col-sm-5"
        .col-sm-7
          = f.select :priority, options_for_select(["Low", "Normal", "High", "Critical"], @ticket.priority), {}, { :class => "form-control" }

      .form-group
        = f.label :category, :class => "control-label col-sm-5"
        .col-sm-7
          = f.select :category, options_for_select(["Open", "Closed"], @ticket.category), {}, { :class => "form-control" }

      .form-group
        = f.label :description, :class => "control-label col-sm-5"
        .col-sm-7
          = f.text_area :description, :class => "form-control"

      .form-group
        .col-sm-offset-5.col-sm-7
          = f.submit "Save Changes", :class => "btn btn-primary"
          = f.submit "Clear", :name => "reset", :type => "reset", :class => "btn btn-default"
          = link_to "Cancel", :back, :class => "btn btn-default"
