- content_for :title, "Documentation"

= render partial: "layouts/onboarding_banner"

%h2 Documentation

%br/
%br/

.row
  .col-md-5.col-md-offset-1
    %h4 Articles
    %ul.list-padded
      %li #{link_to "Getting Started", browse_getting_started_path}
      %li #{link_to "Frequently Asked Questions", browse_faq_path}
      %li #{link_to "Configuring Liberatio Agent", browse_configuring_agent_path}

  .col-md-6
    %h4 Need Help? Email us at
    %h3{ :style => "margin-top: 0; font-weight: bold;" }
      = mail_to "support@getliberatio.com"

%br/
