- content_for :title, "Features"

= render partial: "layouts/onboarding_banner"

%h2 Simple, Powerful Features

%br/

.row

  / details
  .col-md-8

    %ul.nav.nav-pills
      %li.active
        = link_to "Inventory", "#inventory", "data-toggle" => "pill"
      %li
        = link_to "Remote Commands", "#remote-commands", "data-toggle" => "pill"
      %li
        = link_to "System Cleanup", "#cleanup", "data-toggle" => "pill"
      %li
        = link_to "Agent", "#agent", "data-toggle" => "pill"
      %li
        = link_to "Open Source", "#foss", "data-toggle" => "pill"
      %li
        = link_to "Roadmap", "#roadmap", "data-toggle" => "pill"

    .tab-content

      #inventory.tab-pane.active
        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title What gets inventoried?
            %p The Agent inventories both hardware and software:
            %ul.list-liberatio-padded
              %li Model and Serial Number
              %li Storage Devices
              %li Processors and Memory
              %li Network Interfaces
              %li Operating System Name and Version
              %li <strong>Software Applications Installed</strong>
              %li Windows Updates Installed
              %li <strong>Windows Updates Needed</strong>
          .col-md-offset-1.col-md-3
            = image_tag("features/inventory.png", :alt => "Inventory", :class => "text-center btn-block")

      #remote-commands.tab-pane
        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title What are "Remote Commands" ?
            %p Liberatio Agent allows you to run executables (with parameters) and typical "Command Prompt" commands on a remote device via the Liberatio Dashboard.
            %p This powerful feature enables you to do things like delete files, run batch files, or execute binaries from a remote location over secure, encrypted channels in the context of a privileged account (i.e. Administrator account).
            %p The result of the Remote Command is available to you immediately upon execution due to our unique, direct, two-way communication with the remote device (using standard, open, secure protocols).
          .col-md-offset-1.col-md-3
            = image_tag("features/commands.png", :alt => "Commands", :class => "text-center btn-block")

        %br/

        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title What kind of commands can I execute?
            %p Examples would include:
            %p
              %pre rd /s /q "C:\Folder"
            %p
              %pre sfc /scanboot
            %p
              %pre C:\mybat.bat
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title Is it secure?
            %p Absolutely.
            %p The commands are sent over secure, encrypted WebSockets; and the user account on the remote device is a privileged account whose password resets automatically every time the Agent is started. This account is kept disabled until it is needed, and the password is generated and stored (encrypted) in a file that only the Agent can read.
            %p Only you can execute Remote Commands, and a history of all Remote Commands is maintained.


      #cleanup.tab-pane
        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title What is System Cleanup ?
            %p System Cleanup is performed by the Liberatio Agent on a regular basis in order to improve the performance of your system and reclaim storage space.
            %p The cleanup consists of:
            %ul.list-liberatio-padded
              %li Clearing Windows Prefetch
              %li Clear the Windows Update Download Cache
              %li Flush the DNS Cache
              %li Delete Archived System Error Reporting Logs
          .col-md-offset-1.col-md-3
            = image_tag("features/cleanup.png", :alt => "Cleanup", :class => "text-center btn-block")

      #agent.tab-pane
        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title What is the Agent?
            %p The Agent is a software application that runs on all of your devices. It's responsible for collecting an inventory of your hardware and software, enabling commands to be executed remotely from the Website, and performing a cleanup of your system at predefined intervals.
            %p Real-time communication between the Website and Agent is achieved using standard HTML5 WebSockets; communication can be made through firewalls, proxies, and other traditional network obstacles.
            %p
              %strong At this time, a Liberatio Agent is only available for Windows systems.
              Other systems and platforms will become available as soon as possible; keep an eye on our Roadmap, and sign up for the Newsletter to be notified of when we add new ones.
          .col-md-offset-1.col-md-3
            = image_tag("features/agent.png", :alt => "Agent", :class => "text-center btn-block")

      #foss.tab-pane
        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title Liberatio Agents are Open
            %p The Agent(s) for every platform will always be Open Source to ensure that you can see exactly what information we collect, how we collect it, and what we do it with.
            %p The source code for the Liberatio Agent for Windows is licensed under the GPLv3 and is #{link_to 'available on GitHub', 'https://github.com/joshuasmartin/liberatio-agent-windows'}.
          .col-md-offset-1.col-md-3
            = image_tag("features/code.png", :alt => "Source Code", :class => "text-center btn-block")

      #roadmap.tab-pane
        .row
          .col-md-6
            %h4.text-liberatio-primary.cursive.feature-title Coming Soon
            %ul.list-liberatio-padded
              %li Alerts for System Issues
              %li Antivirus and Firewall Discovery
              %li Software Deployment
              %li Linux Agent
              %li OS X Agent
              %li BSD Agent
              %li iOS Agent
              %li Android Agent
          .col-md-offset-1.col-md-3
            = image_tag("features/roadmap.png", :alt => "Roadmap", :class => "text-center btn-block")

  / at a glance
  .col-md-4
    %h4 Features at a Glance

    %table{ :class => "table table-bordered" }
      %tr
        %td.text-center &#x2713;
        %td
          %strong Automatic Hardware Inventory
      %tr
        %td.text-center &#x2713;
        %td
          %strong Automatic Software Inventory
      %tr
        %td.text-center &#x2713;
        %td Track Device Maintenance
      %tr
        %td.text-center &#x2713;
        %td Discover Needed Updates
      %tr
        %td.text-center &#x2713;
        %td
          %strong Execute Commands Remotely
      %tr
        %td.text-center &#x2713;
        %td
          %strong Automatic System Cleanup
      %tr
        %td.text-center &#x2713;
        %td
          %strong Real-Time Windows Agent

%hr/

%p
  Have a question about a feature or want to suggest a new feature?
  = link_to "Contact Us", browse_contacts_path, :class => "btn btn-primary btn-sm"
