.row
  .col-md-4
    %h3 How Does Billing Work?
    %p Simply, that's how! We hate

.row
  
  .col-md-offset-1.col-md-10

    .row

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h4
                $ 19 / month
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h5
                Brook Plan
          %tr
            %td.padded.text-center{ :colspan => "2" }
              %strong Up to 5 Devices
          %tr.details
            %td.padded.col-md-7
              = link_to "#", "data-toggle" => "tooltip", "data-placement" => "top", "title" => "We'll actually help you fix your " do
                Liberatio Assisted Support Tickets &trade;
            %td.padded
              1 free per month
          %tr.details
            %td.padded
              Support Tickets
            %td.padded
              Unlimited
          %tr.active
            %td.text-center{ :colspan => "2" }
              = link_to browse_buy_path(plan: "Brook"), :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h4
                $ 89 / month
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h5
                Stream Plan
          %tr
            %td.padded.text-center{ :colspan => "2" }
              %strong Up to 25 Devices
          %tr.details
            %td.padded
              Assisted Support Tickets
            %td.padded
              5 free per month
          %tr.details
            %td.padded
              Support Tickets
            %td.padded
              Unlimited
          %tr.active
            %td.text-center{ :colspan => "2" }
              = link_to browse_buy_path(plan: "Stream"), :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h4
                $ 299 / month
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h5
                Creek Plan
          %tr
            %td.padded.text-center{ :colspan => "2" }
              %strong Up to 100 Devices
          %tr.details
            %td.padded
              Assisted Support Tickets
            %td.padded
              20 free per month
          %tr.details
            %td.padded
              Support Tickets
            %td.padded
              Unlimited
          %tr.active
            %td.text-center{ :colspan => "2" }
              = link_to browse_buy_path(plan: "Creek"), :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

      .col-md-3

        %table.table.table-condensed.table-bordered
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h4
                $ 599 / month
          %tr
            %th.active.text-center{ :colspan => "2" }
              %h5
                River Plan
          %tr
            %td.padded.text-center{ :colspan => "2" }
              %strong Up to 500 Devices
          %tr.details
            %td.padded
              Assisted Support Tickets
            %td.padded
              50 free per month
          %tr.details
            %td.padded
              Support Tickets
            %td.padded
              Unlimited
          %tr.active
            %td.text-center{ :colspan => "2" }
              = link_to browse_buy_path(plan: "River"), :class => "btn btn-primary" do
                %span.glyphicon.glyphicon-shopping-cart
                Sign Up

.row
  .col-md-4
    .well
      %h5 Payment Methods Accepted
      %p Visa / Mastercard / Discover / American Express