!!! 5
%html
  %head
    %title Liberatio

    = favicon_link_tag '/assets/favicon.ico'
    = favicon_link_tag '/assets/favicon.png', rel: 'apple-touch-icon', type: 'image/png'

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

%body

  %nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
    .container
      .navbar-header
        = link_to root_path, :class => "navbar-brand" do
          = image_tag("nav-logo.png", :alt => "")

      - if current_user
        %ul.nav.navbar-nav
          %li{ :class => ("active" if @highlight == "devices") }
            = link_to nodes_path do
              = image_tag("devices.png", :alt => "Software", :style => "height: 18px;")
              Devices
          %li{ :class => ("active" if @highlight == "software") }
            = link_to instances_path do
              = image_tag("software.png", :alt => "Software", :style => "height: 18px;")
              Software
          %li{ :class => ("active" if @highlight == "protection") }
            = link_to protection_nodes_path do
              = image_tag("protection.png", :alt => "Software", :style => "height: 18px;")
              Protection
          %li{ :class => ("active" if @highlight == "tickets") }
            = link_to tickets_path do
              = image_tag("tickets.png", :alt => "Tickets", :style => "height: 18px;")
              Tickets
      - else
        %ul.nav.navbar-nav
          %li{ :class => ("active" if request.fullpath == root_path) }
            = link_to "Home", root_path
          %li{ :class => ("active" if @highlight == "pricing") }
            = link_to browse_pricing_path do
              = image_tag("plans.png", :alt => "Plans and Pricing", :style => "height: 18px;")
              Plans + Pricing
          %li{ :class => ("active" if @highlight == "features") }
            = link_to browse_features_path do
              = image_tag("features.png", :alt => "Features", :style => "height: 18px;")
              Features

      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to "#", "data-toggle" => "dropdown", :class => "dropdown-toggle" do
              Joshua Shane Martin
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "My Organization", settings_organization_path(current_user.organization_id)
              %li.divider
              %li
                = link_to "My Account", settings_user_path(current_user)
              %li
                = link_to "Logout", logout_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li{ :class => ("active" if @highlight == "pricing") }
            = link_to browse_pricing_path do
              = image_tag("download.png", :alt => "Download", :style => "height: 18px;")
              Download
          %li
            = link_to "Login or Register", login_path

  .container

    .row
      .col-md-12
        - unless notice.nil?
          .alert.alert-info
            = notice

        - unless alert.nil?
          .alert.alert-danger
            = alert

    = yield

  %footer.container
    %hr/
    %small
      %p.text-muted
        &copy; 2014, Joshua Shane Martin | Icons by #{link_to "icons8", "http://icons8.com/"}