!!! 5
%html
  %head
    %title #{yield(:title)} - Systems Management - Liberatio

    = favicon_link_tag '/favicon.ico'
    = favicon_link_tag '/favicon.png'

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

    = tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key]
    - if true
      %script{ type: "text/javascript", src: "https://js.stripe.com/v2/" }

%body

  %nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
    .container
      .navbar-header
        = link_to root_path, :class => "navbar-brand" do
          = image_tag("nav-logo.png", :alt => "")

      - if @navigation == "account"
        %ul.nav.navbar-nav
          %li{ :class => ("active" if @highlight == "dashboard") }
            = link_to dashboard_nodes_path do
              = image_tag("dashboard.png", :alt => "Dashboard", :style => "height: 18px;")
              Dashboard
          %li{ :class => ("active" if @highlight == "devices") }
            = link_to nodes_path do
              = image_tag("devices.png", :alt => "Devices", :style => "height: 18px;")
              Devices
          %li{ :class => ("active" if @highlight == "software") }
            = link_to instances_path do
              = image_tag("software.png", :alt => "Software", :style => "height: 18px;")
              Software
          %li{ :class => ("active" if @highlight == "maintenance") }
            = link_to maintenance_nodes_path do
              = image_tag("protection.png", :alt => "Maintenance", :style => "height: 18px;")
              Maintenance
      - else
        %ul.nav.navbar-nav
          %li{ :class => ("active" if request.fullpath == root_path) }
            = link_to "Home", root_path
          %li{ :class => ("active" if @highlight == "features") }
            = link_to browse_features_path do
              = image_tag("features.png", :alt => "Features", :style => "height: 18px;")
              Features
          %li{ :class => ("active" if @highlight == "pricing") }
            = link_to browse_pricing_path do
              = image_tag("plans.png", :alt => "Plans and Pricing", :style => "height: 18px;")
              Pricing
          %li{ :class => ("active" if @highlight == "download") }
            = link_to browse_download_path do
              = image_tag("download.png", :alt => "Download", :style => "height: 18px;")
              Download

      - if current_user
        %ul.nav.navbar-nav.navbar-right
          - if @navigation != "account"
            %li
              = link_to dashboard_nodes_path do
                %strong Go to Liberatio Dashboard
          %li.dropdown
            = link_to "#", "data-toggle" => "dropdown", :class => "dropdown-toggle" do
              Joshua Shane Martin
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "Account", settings_user_path(current_user)
              %li.divider
              %li
                = link_to "Logout", logout_path, method: :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to login_path do
              Login or Register
              = image_tag("login.png", :alt => "Login or Register", :style => "height: 18px;")

  .container

    .row
      .col-md-12
        - unless notice.nil?
          .alert.alert-info
            = notice

        - unless alert.nil?
          .alert.alert-danger
            = alert

    = yield

  %footer.container
    %hr/
    .row
      .col-md-6
        %p.text-muted
          %small #{link_to "Contact", browse_contacts_path} | #{link_to "About", browse_about_path} | #{link_to "Terms and Privacy", browse_contacts_path}
      .col-md-6
        %p.text-muted.text-right
          %small &copy; 2014, Joshua Shane Martin | Icons by #{link_to "icons8", "http://icons8.com/"}
