.logo{ :style => "padding: 10px 0 20px 0;" }
  = link_to "https://getliberatio.com" do
    = image_tag("http://b3030c52c2e84dc54a90-d586199d0729f94ce809eb84cce1add4.r84.cf5.rackcdn.com/banner-logo.png", :alt => "Liberatio", :style => "width: 150px; height: 40px;")

.box{:style=>"border-top:solid 2px #eee;" }

  .content{:style=>"padding:15px 20px 15px 20px; max-width:500px; min-height:330px; color:#333; font-size:16px; font-family:Arial,sans-serif; font-weight:200; line-height:1.45em; letter-spacing:.01em;" }

    - if @user
      %p
        Hi, #{@user.name}:

    -# Content of an Email is rendered here.
    = yield

    %p{:style=>"margin-top:30px;" }
      \- Liberatio Team

  .footer{:style=>"margin:20px auto 10px auto; font-size:11px; color:#999; letter-spacing:.01em; text-align:center;"}
    %a{:href=>"https://getliberatio.com", :style=>"color:#999; font-family:Arial,sans-serif;font-weight:200; "} GetLiberatio.com

    = surround ' | ', ' | ' do
      %a{:href=>"https://getliberatio.com/browse/about", :style=>"color:#999; font-family:Arial,sans-serif;font-weight:200; "} About Liberatio

    %a{:href => "https://getliberatio.com/browse/privacy", :style=>"color:#999; font-family:Arial,sans-serif;font-weight:200; "}
      Privacy + Terms
